//----------------color---------------

$primary-color: #f04f46;
$secondary-color: #00a25b;
$border-color: #E5E5E5;
$blue: #3B80C3;
$yellow: #ff9e3f;
$green: #00a25b;
$background-color: #F7F7F7;
$input-placeholder-color: #CCC;
$form-item-height: 2.2rem;
$gutter-width: .7rem;
$margin: .5rem;
$button-disabled-background-color: #D6D6D6;
$placeholder-color: #999;
$hint-color: #999;
$text-color: #666;
$verify-todo-color: #999;
$verify-warn-color: #FF6600;
$verify-danger-color: #FF6600;
$verify-success-color: #00CC00;
$dialog-button-color: #3B80C3;
$form-item-active-background-color: #D9D9D9;

//-----------------font-size-------------

